/* Mise en page du cadre de présentation  */

.site-pres {
    border: 5px silver groove;
    padding: 2px;
    max-height: 90%;
    width: 250px;
    float: right;
 }
 
.site-ico {
	width: 80%;
	height: 30%;
	margin : auto;
}

.titre-pres {
	font-size: 2em;
}

.titre-pres2 {
    color: rgb(108,0,0);
}

.titre-pres3 {
    color: rgb(37,130,28);
}
.style-pres {
	text-align: center;
	letter-spacing: -4px;
	font-family: purisa, arial black;
}
